
.banniere{
    flex-direction: column;
    align-items: center;
}

h1, header p, form, .filtres, .info, .activites{
    margin-left: 25px;
 }

.logo{
    margin-left: 25px;
}

.menu ul{
    width:100%;
    justify-content: space-between;
    margin:0px;

}

nav ul li{
    width:50%;
    margin-right: 25px;
}

.menu a{
    display: flex;
    justify-content: center;
    width:100%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
    margin:0;
}

.menu a:hover {
    border-top:none;
    padding-top:0px;
    border-bottom: #0065FC solid 3px;
    padding-bottom: 20px;
}


#bouton_recherche{
    display: none;
}

#loupe_portable{
    display:inline;
}

#loupe_portable i{
    color: white;
    background: #0065FC;
    border-radius: 25%;
    padding: 11px;
}

.filtres{
    flex-direction: column;
}

.liste_filtres{
    flex-wrap: wrap;
    width:100%;
}

.filtre_item{
    margin-bottom: 15px;
}

main{
    flex-direction: column-reverse;
}

section, aside{
    width:100%;
    margin-top:20px;
    justify-content: center;
    align-items: center;
}

.populaire{
    justify-content: center;
}

.element_colonne{
    margin-bottom: 40px;
}

.image_colonne{
    width:40%;
}

.element_colonne img{
    height:160px;
}


aside a{
    width:70%;
}

aside{
    justify-content: center;
}



.element{
    width:65%;
    margin: 0px 0px 40px 0px;
}

.cartes{
    justify-content: center;
    align-items: center;
}

.cartes img{
    height:160px;
}

.etoile_pop{
    padding-top: 15px;
}

.etoile_pop_coeur{
    padding-top: 0px;
}

#activites{
    width:auto;
}

.activites{
    width:90%;
    display: flex;
    flex-wrap: wrap;
}



.element_activites{
    width:100%;
}

.colonne1, .colonne2, .colonne3, .colonne4{
    width:48%;
}

.colonne1 .element_activites img{
    height:25.5rem;
}

.colonne2 .element_activites #fort{
    height:10rem;
}

.colonne2 .element_activites #iles{
    height:10rem;
}

.colonne3 .element_activites img{
    height:24.5rem;
}

.colonne4 .element_activites #parc{
    height:9.5rem;
}

.colonne4 .element_activites #notre_dame{
    height:9.5rem;
}



.footer .col{
    padding: 0px 40px 0px 20px;

}